body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d1117;
    color: #f0f6fc;
}

.borde {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #00ff41;
    border-radius: 5px;
}