/* ==================
    Generales
================== */
.boton {
    padding: 12px 24px;
    border: 1px transparent;
    font-size: 16px;
    border-radius: 48px;
}

.primario {
    background-color: #1a73e8;
    color: white;
    font-weight: 500;
}



/* ==================
    Portada
================== */
.portada {
    /* border: 1px solid; */
    text-align: center;
    background-color: #f1edea;
}

.portada-info {
    /* border: 1px solid; */
    width: 60%;
    margin: 0 auto;
}

.portada h1 {
    font-size: 60px;
    font-weight: 400;
}

.portada video {
    width: 100%;
}

.gris {
    color: #5f6368;
    font-size: 20px;
}

